<div class="section page-title bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="text-center m-b-20">Creators</h1>
        <p class="mr-auto ml-auto" style="max-width: 500px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a href="#" class="btn btn-dark">Become a creator</a>
      </div>
    </div>
  </div>
</div>

<div class="section p-t-50 p-b-100">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="box-grid">
          <div class="box">
            <div class="box-header">
              <div class="creator">
                <div class="user-avatar">
                  <%= image_tag "" %>
                </div>
                <div class="user-title">
                  <h5>Sebastian Heusser</h5>
                  <span>Developer</span>
                </div>
              </div>
            </div>
            <div class="box-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div class="tags tags-left">
                <span class="badge badge-dark">World of Mind</span>
                <span class="badge badge-dark">Projects</span>
                <span class="badge badge-dark">Quests</span>
                <span class="badge badge-dark">Events</span>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="box-header">
              <div class="creator">
                <div class="user-avatar">
                  <%= image_tag "" %>
                </div>
                <div class="user-title">
                  <h5>Sven Reiser</h5>
                  <span>Designer</span>
                </div>
              </div>
            </div>
            <div class="box-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div class="tags tags-left">
                <span class="badge badge-dark">World of Mind</span>
                <span class="badge badge-dark">Projects</span>
                <span class="badge badge-dark">Quests</span>
                <span class="badge badge-dark">Events</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
