<div class="section hero bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Welcome to Projects</h1>
        <p class="lead">Projects is the world first platform to plan, create, publish and manage Projects on IOTA's Tangle.</p>
        <a href="/get_started" class="btn btn-dark btn-lg m-r-30 m-b-20">Get started</a>
        <a href="<%= new_project_path %>" class="btn btn-dark btn-lg m-r-30 m-b-20">Create project</a>
        <a href="/projects" class="btn btn-dark btn-lg m-b-20">See all projects</a>
      </div>
    </div>
  </div>
  <div class="illustration">
    <%= image_tag "illustration.svg" %>
  </div>
  <div class="illustration-mobile"></div>
</div>
<div class="section content">
  <div class="container">
    <div class="row">
      <div class="col-md d-flex flex-column justify-content-center align-items-baseline">
        <h2>Just a heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <a href="#" class="btn btn-primary m-b-15">Learn more</a>
        <a href="#" class="btn btn-primary">Dive deep</a>
      </div>
      <div class="col-md">
        <%= image_tag "stocks/22.jpg" %>
      </div>
    </div>
  </div>
</div>
<div class="section content bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <%= image_tag "stocks/21.jpg" %>
      </div>
      <div class="col-md d-flex flex-column justify-content-center align-items-baseline">
        <h2>Just a heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <a href="#" class="btn btn-primary m-b-15">Learn more</a>
        <a href="#" class="btn btn-primary">Dive deep</a>
      </div>
    </div>
  </div>
</div>
