<%= render "projects/navbar" %>

<div class="section hero bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title"><%= @project.title %></h1>
        <h5 class="m-b-20"><%= @project.vision %></h5>
        <p><%= @project.description %></p>
        <a href="/get_started" class="btn btn-dark btn-lg m-r-30 m-b-20">Get started</a>
      </div>
    </div>
  </div>
  <div class="illustration"></div>
  <div class="illustration-mobile"></div>
</div>
<div class="section p-t-100 p-b-100">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <h1 class="text-center">Child projects</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <div class="box-grid">
          <% @project.children.each do |child_project| %>
          <a href="<%= child_project.url %>" target="_blank" class="box">
            <h6 style="opacity: .5;">Owner: <%= @project.user.username %></h6>
            <h4 class="m-b-5"><%= child_project.title %></h4>
            <p class="m-b-0"><%= child_project.description %></p>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section bg-primary p-t-100 p-b-100">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <h1 class="text-center">Creators</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <div class="box-grid">
          <% @project.children.each do |child_project| %>
          <a href="<%= child_project.url %>" target="_blank" class="box">
            <div class="box-header">
              <div class="creator">
                <div class="user-avatar">
                  <%= image_tag "icons/user.svg" %>
                </div>
                <div class="user-title">
                  <h5>Creator name</h5>
                  <span>Job title</span>
                </div>
              </div>
            </div>
            <div class="box-body">
              <p class="box-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
