@import "partials/mixins";

footer {
  position: relative;
  height: auto;
  padding: 50px 0 15px;
  color: var(--white_100);
  background-color: var(--dark-2);
  &:before {
    content: '';
    position: absolute;
    @include size(5px, 100%);
    @include bg(primary);
    top: 0;
    left: 0;
  }
  img {
    height: 18px;
  }
  hr {
    border-color: var(--white_25);
  }
  .list-inline {
    li {
      margin: 0 5px;
      a {
        color: var(--white_50);
        &:hover {
          color: var(--white_100);
        }
      }
    }
  }
  .footer-left {
    @include flex(column, flex-start, nowrap);
    align-items: baseline;
    .navbar-brand img {
      height: 40px;
    }
  }
  .footer-right {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      @include flex(row, flex-end, nowrap);
      align-items: baseline;
      padding-top: 50px;
      li {
        margin-left: 30px;
        a {
          color: var(--white_50);
          &:hover {
            color: var(--white_100);
          }
        }
        &.active {
          a {
            color: var(--primary-2);
          }
        }
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}

/* < 767px */
@media screen and (max-width: 767px) {
  footer {
    .footer-left {
      align-items: center;
    }
    .footer-right {
      ul {
        justify-content: center;
        li {
          margin: 0 10px;
        }
      }
    }
  }
}
/* < 575.98px */
@media screen and (max-width: 575.98px) {
  footer {
    padding: 30px 0;
  }
}
