<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/notices' %>

    <%= yield %>
  </body>
</html>
